@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Josefin+Sans|Lobster|Rubik&display=swap');


body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #269;
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


.glow {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size: 50pt;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

hr {
	width: 60%;
	margin: 50px auto;
}

div {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

fieldset {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	margin: 50px auto;
	width: 80%;
	border-radius: 30px;
	border: 1px dotted grey;
	background-color: ivory;
}

table {
	display: inline-block;
	font-family: 'Rubik', sans-serif;
}

table td {
	text-align: left;
	font-size: 20pt;
	padding: 20px;
}

#result {
	display: inline-block;
	font-family: 'Rubik', sans-serif;
	border: 1px solid black;
	margin: 50px auto;
}

#result td {
	text-align: center;
	padding: 20px;
	font-weight: bold;
	border: 1px solid black;
}

input[type=radio] {
	size: 10px;
}

input[type=number] {
	width: 10em;
	border: 1px solid black;
	text-align: center;
}

input[type=button] {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	display: inline-block;
	padding: 15px 25px;
	font-size: 30pt;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: ivory;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}